﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Task 3 by Aleh Tkachou</title>
        <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="app/css/common.css" rel="stylesheet">
    </head>
    <body>

        <div class="container" ng-app="app">
            <div class="row">
                <div class="span6 main-view">
                    <div class="well" ui-view="mainview"></div>
                </div>
                <div class="translate-block" ng-controller="translateController">
                    <button class="btn btn-default" ng-click="changeLanguage('ru')" translate="common.main.language.russian.label"></button>
                    <button class="btn btn-default" ng-click="changeLanguage('en')" translate="common.main.language.english.label"></button>
                </div>
            </div>
        </div>

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script> -->

        <script src="node_modules/angular/angular.js"></script>

        <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="node_modules/angular-animate/angular-animate.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.0.js"></script>
        <script src="node_modules/lodash/lodash.js"></script>
        <script src="node_modules/angular-translate/dist/angular-translate.js"></script>
        <script src="node_modules/angular-translate/dist/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="node_modules/angular-translate/dist/angular-translate-storage-local/angular-translate-storage-local.js"></script>
        <script src="node_modules/angular-translate/dist/angular-translate-loader-url/angular-translate-loader-url.js"></script>
        <script src="node_modules/angular-translate/dist/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="node_modules/angular-translate/dist/angular-translate-handler-log/angular-translate-handler-log.js"></script>
        <script src="node_modules/angular-translate/dist/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>

        <script src="main.js"></script>
        <script src="app/common/src/routing.js"></script>
        <script src="app/common/src/config.js"></script>
        <script src="app/pages/src/login/src/LoginController.js"></script>
        <script src="app/services/loginService.js"></script>
        <script src="app/services/loadService.js"></script>
        <script src="app/pages/src/login/src/ModalForgotPasswordController.js"></script>
        <script src="app/pages/src/edit/src/EditController.js"></script>
        <script src="app/pages/src/info/src/InfoController.js"></script>
        <script src="app/common/src/translateController.js"></script>
        <script src="app/providers/translateProvider.js"></script>
        <script src="app/directives/src/validateStringDirective/validateStringDirective.js"></script>
        <script src="app/directives/src/validateNameDirective/validateNameDirective.js"></script>
    </body>
</html>