.main-view {
    width: 360px;
    margin: auto;
    margin-top: 10px;
}

.input-size {
    width: 300px;
}

.translate-block {
    margin: auto;
    width: 185px;
}

.btn-show-password {
    margin-top: 5px;
}