<div>
    <form name="form" role="form" ng-model="form" novalidate>
        <div class="form-group">
            <label for="name">{{ 'pages.userInfo.name.label' | translate }}</label>
            <span class="label label-danger" ng-show="submitted && form.name.$error.required">Required!</span>
            <span class="label label-danger" ng-show="submitted && form.name.$error.name && !form.name.$error.required">English symbols, two words, first letter in uppercase, letters!</span>
            <input type="text" name="name" class="form-control" ng-model="name" validate-name required/>
        </div>

        <div class="form-group">
            <label for="bio">{{ 'pages.userInfo.bio.label' | translate }}</label>
            <span class="label label-danger" ng-show="submitted && form.bio.$error.required">Required!</span>
            <span class="label label-danger" ng-show="submitted && form.bio.$error.string && !form.bio.$error.required">English symbols and only letters!</span>
            <input type="text" class="form-control" name="bio" ng-model="bio" validate-string required/>
        </div>

        <button ng-click="submit(name, bio)" class="btn btn-primary">{{ 'pages.userInfo.save.button' | translate }}</button>
        <button ui-sref="main.info" class="btn btn-primary">{{ 'pages.userInfo.back.button' | translate }}</button>
    </form>
</div>