<div class="modal-header">
    <h3 class="modal-title" translate="pages.modalView.forgotPassword.label"></h3>
</div>
<div class="modal-body">
    <label for="userName" translate="pages.modalView.enterYourLogin.label"></label>
    <input type="text" class="form-control" placeholder="Login" ng-model="login">
    <button class="btn btn-primary btn-show-password" type="button" ng-disabled="!login" ng-click="forgot()" translate="pages.modalView.showPassword.button"></button>
    <div>{{ 'pages.modalView.yourPassword.label' | translate }} {{passwordText}}</div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()" translate="pages.modalView.close.button"></button>
</div>