﻿<div class="row">
    <div>
        <ul class="nav nav-pills">
            <li><a ui-sref="main.info" translate="pages.home.info.label"></a></li>
            <li><a ui-sref="main.edit" translate="pages.home.edit.label"></a></li>
        </ul>
        <div class="row">
            <div class="span6 main-view">
                <div class="well" ui-view="childview"></div>
            </div>
        </div>
    </div>
</div>